
body {
    margin: 0;
    font-family:'montserrat', Helvetica, Arial, sans-serif; 
    font-weight: 300;
    /*background-color: rgb(238, 238, 221);*/
}

a {
    color: rgb(44, 70, 218);
    
}
a:visited {
    color: rgb(0, 0, 0);
}
h1 {
    
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    /*line-height: 100px;*/
}

h1 span {
    font-size: 20px;
    font-weight: 300;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    /* background-color: white; */
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
    box-sizing: border-box;
    z-index: 1000;

}

.header .header-column {
    width: 50%;
}

.social-links {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    margin-top: 10px;
    z-index: 1000;

}

.header .header-icons {
    margin-right: 20px;
    margin-top: 8px;
    
}

.icons {
    width: 26px;
}

.icon-inst a {
    display: block;
}

.fly-container {
    position: absolute;
    width: 75%;
    height: 300px;
    left: 100px;
     top: 1000px; }

.fly-container-1 {
    position: absolute;
    width: 75%;
    height: 300px;
    left: -111px;
    top: 1700px; }

.fly-container-2 {
    position: absolute;
    width: 75%;
    height: 300px;
    left: 30px;
    top: 3000px; }

.fly-container-3 {
    position: absolute;
    width: 75%;
    height: 300px;
    left: -10px;
    top: 4500px; 
}

.fly-container-4 {
    position: absolute;
    width: 75%;
    height: 300px;
    left: 580px;
    top: 5800px; }


    .fly-container .eye-1 {
      position: absolute;
      z-index: 2;
      overflow: hidden;
      width: 20%;
      left: -100px; }
      .fly-container .eye-1 img {
        width: 100%; }
    .fly-container-1 .finger {
      position: absolute;
      z-index: 2;
      overflow: hidden;
      width: 20%;
      left: 700px; }
      .fly-container-1 .finger img {
        width: 100%; }
    .fly-container-2 .eye-2 {
      position: absolute;
      z-index: 2;
      overflow: hidden;
      width: 20%;
      left: 800px; }
      .fly-container-2 .eye-2 img {
        width: 100%; }
        
    .fly-container-3 .heart {
        position: absolute;
         z-index: 2;
         overflow: hidden;
         width: 20%;
         left: 150px; }
         .fly-container-3 .heart img {
          width: 100%; }
          
          .fly-container-4 .broke {
            position: absolute;
             z-index: 2;
             overflow: hidden;
             width: 30%;
             left: 150px; }
             .fly-container-3 .broke img {
              width: 100%; }

#pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.pic {
    width: 35%;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: right;
}

@media all and (max-device-width: 768px) {
    .pic {
        width: 100%;
    }
}

.pic2 {
    width: 45%;
}

.pic-full {
    width: 70%;
    margin: px;
}

.pic-block {
    width: 100%;
}

.pic-block img {
    width: 30%;
}

.pic-mblock img {
    width: 70%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.212);
    /*padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;*/
    padding-bottom: 20px;
}
 
.footer-img {  
    width: 100%;
}

.footer-text {
    font-size: 14px;
    line-height: 28px;
    padding-left: 30px;
    width: 45%;
    color: rgb(255, 255, 255);
}

.footer-contact {
     padding-left: 55px;
    font-size: 14px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

img {
    display: block;
    width: 100%;
}


.pic-caption {
    text-align: left;
    
    padding: 5px;
    color: rgb(226, 226, 226);    
}

