
body {
    margin: 0;
    font-family: 'circe', 'montserrat', Helvetica, Arial, sans-serif; 
    font-size: 20px;
    
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:visited {
    color: rgb(110, 110, 110);
    text-decoration: none;
    border-bottom: 1px solid;
}
h1 {
    width: 100%;
    margin-top: 0px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    /*text-transform: uppercase;
    letter-spacing: 2px;
    /*line-height: 100px;*/
}

h2 {
    font-family:'PT mono';
    color: rgb(177, 177, 177);
    font-weight: lighter;
    line-height: 16pt;
    font-size: 14px;
}
h3 {
    font-family: 'circe';
    font-size: 30px;
    /*text-transform: uppercase;*/
    color: rgb(0, 0, 0);
    font-weight: lighter;
    line-height: 36pt;
    
    
}


.header {
    position: fixed;
    width: 100%;
    display: flex;
    /* background-color: white; */
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
    z-index: 1000;

}

.header .header-column {
    width: 50%;
}

.menu {
    position: fixed;
    width: 20%;
    display: flex;
    padding-left: 30px;
    padding-top: 90px;
    padding-bottom: 0px;
    box-sizing: border-box;
    z-index: 1000;
    
}

.social-links {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    margin-top: 10px;
    z-index: 1000;

}

.header .header-icons {
    margin-right: 20px;
    margin-top: 8px;
    
}

.icons {
    width: 25px;
}

.icon-inst a {
    display: block;
}

.fly-container {
    position: absolute;
    width: 75%;
    height: 300px;
    left: 100px;
     top: 1000px; }

.fly-container-1 {
    position: absolute;
    width: 75%;
    height: 300px;
    left: -111px;
    top: 1700px; }

.fly-container-2 {
    position: absolute;
    width: 75%;
    height: 300px;
    left: 30px;
    top: 3000px; }

.fly-container-3 {
    position: absolute;
    width: 75%;
    height: 300px;
    left: -10px;
    top: 4500px; 
}

.fly-container-4 {
    position: absolute;
    width: 75%;
    height: 300px;
    left: 580px;
    top: 5800px; }


    .fly-container .eye-1 {
      position: absolute;
      z-index: 2;
      overflow: hidden;
      width: 20%;
      left: -100px; }
      .fly-container .eye-1 img {
        width: 100%; }
    .fly-container-1 .finger {
      position: absolute;
      z-index: 2;
      overflow: hidden;
      width: 20%;
      left: 700px; }
      .fly-container-1 .finger img {
        width: 100%; }
    .fly-container-2 .eye-2 {
      position: absolute;
      z-index: 2;
      overflow: hidden;
      width: 20%;
      left: 800px; }
      .fly-container-2 .eye-2 img {
        width: 100%; }
        
    .fly-container-3 .heart {
        position: absolute;
         z-index: 2;
         overflow: hidden;
         width: 20%;
         left: 150px; }
         .fly-container-3 .heart img {
          width: 100%; }
          
          .fly-container-4 .broke {
            position: absolute;
             z-index: 2;
             overflow: hidden;
             width: 30%;
             left: 150px; }
             .fly-container-3 .broke img {
              width: 100%; }

#pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
}

.pic {
    width: 40%;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 10px;
    text-align: right;
}

@media all and (max-device-width: 768px) {
    .pic {
        width: 100%;
    }
    .header {
        font-size: 24px;
        width: 100%;
        
    }
}

.pic-full {
    width: 70%;
    margin: 30px;
}

.pic-roar {
    width: 30%;
    margin: 100px;
}

.pic-small {
    width: 35%;
    margin: 80px;
}

.pic-sketch {
    width: 30%;
    margin: 200px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.212);
    /*padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;*/
    padding-bottom: 20px;
}
 
.footer-img {  
    width: 100%;
}

.footer-text {
    font-size: 14px;
    line-height: 28px;
    padding-left: 30px;
    width: 45%;
    color: rgb(255, 255, 255);
}

.footer-contact {
     padding-left: 55px;
    font-size: 14px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

img {
    display: block;
    width: 100%;
}


.pic-caption {
    text-align: left;
    
    padding: 5px;
    color: rgb(226, 226, 226);    
}

