
body {
    margin: 0;
    font-family: 'montserrat', 'Helvetica', 'Arial', 'sans-serif'; 
    font-size: 13px;
    
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.underline-link {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid;
    line-height: 1.3em;
}

h1 {
    text-transform: uppercase;
    width: 100%;
    margin-top: 0px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}



@media all and (max-device-width: 768px) {
    h1 {
        font-size: 160px;
        line-height: 160px;
        font-weight: lighter;
        color: black;
    }
    
    h3 {
        font-size: 85px;
        line-height: 110px;
        /*color: black;
        font-weight: normal;*/
    }
    a {
        color: rgb(27, 27, 27);
        text-decoration: none;
        
    }
    a:visited {
        color: rgb(1, 1, 1);
        text-decoration: none;
        
    }
    .underline-link {
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid;
        line-height: 1.3em;
    }
}


.header {
    position: fixed;
    width: 100%;
    display: flex;
    /* background-color: white; */
    padding-left: 3%;
    padding-top: 40px;
    padding-bottom: 0px;
    box-sizing: border-box;
    z-index: 1000;

}

.header .header-column {
    width: 50%;
}

.menu {
    position: fixed;
    width: 20%;
    display: flex;
    padding-left: 3%;
    padding-top: 70px;
    padding-bottom: 0px;
    box-sizing: border-box;
    z-index: 999;

    font-family: 'montserrat', 'Helvetica', 'Arial', 'sans-serif'; 
    font-size: 27px;
    color: rgb(0, 0, 0);
    line-height: 28pt;
    font-weight: lighter;
    text-transform: uppercase;
    
}

.about {
    position: absolute;
    width: 20%;
    display: block;
    padding-left: 3%;
    padding-top: 550px;
    box-sizing: border-box;
    z-index: 997;
}
.avatar {
    width: 45px;
    margin-bottom: 25px;
}
@media all and (max-device-width: 768px) {
    .menu {
        display: flex;
        position: fixed;
        width: 100%;
        padding-left: 80px;
        padding-top: 400px;
        padding-bottom: 0px;
        box-sizing: border-box;
        z-index: 999;
        
    }
    .header {
        padding-left: 75px;
        padding-top: 50px;
    
    }

}


.social-links {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    margin-top: 40px;
    z-index: 1000;

}

.header .header-icons {
    margin-right: 40px;
    margin-top: 8px;
    
}

.icons {
    width: 25px;
    margin-bottom: 25px;
}

.icon-inst a {
    display: block;
}

.icon-f {
    width: 16px;
    margin: 0px 0px 25px 4px;
}

@media all and (max-device-width: 768px) {
    .header .header-icons {
        margin-right: 50px;
        margin-top: 50px;
        
    }
    .icons {
        width: 80px;
    }

    .icon-f {
        width: 50px;
        margin: 0px 0px 25px 14px;
    }
    .icon-inst a {
        display: block;
    }
}

#content {
    padding: 100px 13% 200px 20%;
}

.pic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.pic {
    width: 40%;
}

.pic.horizontal {
    width: 100%;
    text-align: center;
}

#home-pic {
    padding: 0px 0% 0px 0%;
}

.pic.horizontal.little {
    width: 70%;
}

.pic.big {
    width: 50%;
}

.pic-caption {
    font-family: 'PT mono', 'montserrat', 'Helvetica', 'Arial', 'sans-serif';  
    color: rgb(0, 0, 0);
    line-height: 16pt;
}

.pic-caption-only {
    font-family:'PT mono', 'circe', 'montserrat', Helvetica, Arial, sans-serif; 
    color: rgb(177, 177, 177);
    font-weight: lighter;
    line-height: 18pt;
    font-size: 14px;
    padding: 8px 10px 10px 20px;
    border: 1px solid 
}

@media all and (max-device-width: 768px) {
    #content {
        padding: 860px 0 0 80px;
    }
    .pic-container {
        margin-bottom: 200px;
    }
    .pic.horizontal {
        width: 100%;
    }
    .pic {
        width: 100%;
    }
    .pic.big {
        width: 100%;
    }
    .pic.horizontal.little {
        width: 100%;
    }
    .pic-caption {
        margin-right: 50px;
        font-family:'PT mono', 'circe', 'montserrat', Helvetica, Arial, sans-serif; 
        letter-spacing: 0.04em;
        line-height: 1.3em;
        font-size: 35px;
        color: rgb(32, 32, 32);
        font-weight: lighter;
    }
    .pic-caption-only {
        letter-spacing: 0.04em;
        line-height: 1.3em;
        font-size: 35px;
        color: rgb(32, 32, 32);
        margin-right: 65px;
        padding: 8px 70px 50px 60px;
    }
}


.vertical_text {
    position: fixed;
    display: flex;
    z-index: 1000;
    font-size: 15px;
    line-height: 20px;
    font-weight: lighter;
    color: rgb(110, 110, 110);  
    transform: rotate(-90deg);
    transform-origin: left top 0;
    right: -210px;
    bottom: -40px;
}
@media all and (max-device-width: 768px) {
    .vertical_text {
        font-size: 0;
        line-height: 50px;
        color: rgb(141, 141, 141);
        right: -589px;
        bottom: -86px;
    }
}

.design-link {
    margin-top: -100px;
    font-size: 140px;   
}   

/*a:hover {
    color: #00e7d4;
} */ 
.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.212);
    /*padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;*/
    padding-bottom: 20px;
}
 
.footer-img {  
    width: 100%;
}

.footer-text {
    font-size: 14px;
    line-height: 28px;
    padding-left: 30px;
    width: 45%;
    color: rgb(255, 255, 255);
}

.footer-contact {
     padding-left: 55px;
    font-size: 14px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

img {
    display: block;
    width: 100%;
}

  
.phsw figure {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.phsw figure a img {
        width: auto;
        height: 60px;
}

